.users_container button {
	background-color: rgb(0, 102, 255);
	border-radius: 20px;
	padding: 5px 10px;
	text-transform: uppercase;
	color: white;
	font-weight: 700;
}
.users_container button:hover {
	background-color: rgb(246, 255, 0);
}
.users {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}
.user {
	display: flex;
	width: 500px;
	margin: 20px 0;
}

.avatar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.avatar img {
	display: block;
	object-fit: contain;
	width: 100px;
	height: 100px;
	margin-right: 0;
	border-radius: 50%;
}
.avatar button {
	margin: 15px 0 0 0;
	padding: 5px 10px;
}

.user .info {
	border: 3px solid rgb(0, 102, 255);
	box-shadow: 0px 0px 5px rgb(0, 44, 110);
	border-radius: 20px;
	margin-left: 25px;
	width: 100%;
	padding: 5px 10px;
	display: flex;
	flex-direction: column;
	position: relative;
	top: 0;
	left: 0;
}
.user .name {
	text-transform: uppercase;
	color: rgb(0, 44, 110);
	font-weight: 700;
}

.user .status {
	color: rgb(0, 44, 110);
	align-self: center;
	margin: auto 0;
}

.users_container .active {
	font-weight: 700;
}

.users_container .pagination {
}

.pagination span {
	margin: 0 5px;
	padding: 2px;
	cursor: pointer;
}
