.new_post {
  display: flex;
  margin: 20px 0;
}
.new_post textarea {
  width: 30vw;
  height: 50px;
  border: 1px solid black;
  font-size: 22px;
}
.new_post button {
  align-self: flex-end;
  padding: 10px;
}
